.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    background-color: gainsboro;
    .footer-left {
      font-size: 48px;
      line-height: 72px;
      text-shadow: 0px 4px 4px rgba(26, 24, 24, 0.25);
      color: #fd0909;
      padding: 15px;
      span {
        color: black;
      }
    }
    .footer-right{
        display: flex;
        align-items:center;
        width:40%;
        justify-content: space-around;
        font-size: 18px;
        line-height: 27px;
    }
  }
  
  @media screen and (max-width:480px) {
    .footer {
      display: flex;
      width: 100%;
      border-bottom: 1px solid lightgray;
      flex-direction: column;
      .footer-left {
        font-size: 48px;
        text-align: center;
        border: 1px solid #fefefe;
        text-shadow: 0px 4px 4px rgba(26, 24, 24, 0.25);
        color: #fd0909;
        padding: 15px;
        span {
          color: black;
        }
      }
      .footer-right{
          display: flex;
          align-items:center;
          width:100%;
  
          font-size: 16px;
          line-height: 27px;
      }
    }
  }

  .copyright{
    background-color: rgb(158, 158, 158);
    text-align: center;
    color: white;
    padding: 6px 0;
  }