<div class="wrapper">
  <div class="heading">
    <p class="pnr-heading">PNR Status</p>
    <div class="pnr-heading-bottom-bar"></div>
  </div>

  <div class="PNR-container">
    <div class="pnrForm">
      <form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
        <div class="form-input-field">
          <label>Enter PNR Number</label>
          <input ngModel #pnrNumber="ngModel" placeholder="PNR Number" name="pnrNumber" minlength="10" maxlength="10" required pattern="^[0-9]*$"/>
          <span style="color: rgb(228, 3, 3); padding-top: 3px;" *ngIf="pnrNumber.invalid && pnrNumber.touched" >* Please Enter 10 Digit PNR Number</span>
          <button [disabled]="pnrNumber.invalid && pnrNumber.untouched">Check Status</button>
        </div>
      </form>

      <div class="orSection">
        <p>OR</p>
        <p>Click here to <span>search trains</span></p>
      </div>
    </div>
    <div class="pnrResult">
      <div *ngIf="!pnrData">
        <img src="assets/ticket.jpg" alt="" width="100%" height="100%" />
      </div>
      <div *ngIf="pnrData" class="pnrData">
        <div *ngIf="pnrData.error" style="font-size: 20px; font-weight: 600;text-align: center;">
          {{ pnrData.error }}
        </div>
        <div
          *ngIf="pnrData.boarding_station"
          style="font-size:16px;"
        >
          Boarding Station : <b>{{ pnrData.boarding_station }}</b>
        </div>
        <div
          *ngIf="pnrData.reservation_upto"
          style="font-size: 16px;"
        >
          Reservation Upto : <b>{{ pnrData.reservation_upto }}</b>
        </div>
        <br />
        <div
          *ngIf="pnrData.passenger"
          style="
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
          "
        >
          Passenger details:
          <div
            *ngFor="let passenger of pnrData.passenger; i: of; index"
            style="width: 100%;display: flex;flex-direction: column;box-shadow: 2px 2px 6px 1px gainsboro;padding: 5px 10px;margin: 10px auto;"
          >
            <div style="display: flex; justify-content: space-between">
              Passenger Name <b>{{ passenger.name }}</b>
            </div>
            <div style="display: flex; justify-content: space-between">
              Booking Status <b>{{ passenger.booking_status }}</b>
            </div>
            <div style="display: flex; justify-content: space-between">
              Current Status <b>{{ passenger.current_status }}</b>
            </div>
          </div>
        </div>
        <br >
        <div *ngIf="pnrData.train_name" style="font-size: 16px; display: flex;justify-content: space-between;">
          Train Name : <b>{{ pnrData.train_name }}</b>
        </div>
        <div *ngIf="pnrData.class" style="font-size: 16px; display: flex;justify-content: space-between;" >
          Class: <b>{{ pnrData.class }}</b>
        </div>
        <div *ngIf="pnrData.departure_data" style="font-size: 16px; display: flex;justify-content: space-between;" >
          Journey Start Date: <b>{{ pnrData.departure_data.departure_date  }}</b>
        </div>
      </div>
    </div>
  </div>
</div>

