<div style="margin: 0 auto;">
  <ngb-carousel>

    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide" class="ImageContainer" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1]" alt="Random second slide" class="ImageContainer" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide" class="ImageContainer" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[3]" alt="Random fourth slide" class="ImageContainer" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
