.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  .header-left {
    font-size: 48px;
    line-height: 72px;
    border: 1px solid #fefefe;
    text-shadow: 0px 4px 4px rgba(26, 24, 24, 0.25);
    color: #fd0909;
    padding: 15px;
    span {
      color: black;
    }
  }
  .header-right{
      display: flex;
      align-items:center;
      width:50%;
      justify-content: space-around;
      font-size: 18px;
      line-height: 27px;
  }
}

@media screen and (max-width:769px) {
  .header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
    flex-direction: column;
    .header-left {
      font-size: 48px;
      text-align: center;
      border: 1px solid #fefefe;
      text-shadow: 0px 4px 4px rgba(26, 24, 24, 0.25);
      color: #fd0909;
      padding: 15px;
      span {
        color: black;
      }
    }
    .header-right{
        display: flex;
        align-items:center;
        width:100%;

        font-size: 16px;
        line-height: 27px;
    }
  }
}