<div class="wrapper">
  <div class="heading">
    <p class="rules-heading">Government Safety Rules</p>
    <div class="rules-heading-bottom-bar"></div>
  </div>

  <!-- boxes starts here  -->
  <div class="box-container">
  <div class="box">
    <div class="box-img">
      <ng-lottie
        width="250px"
        height="162px"
        [options]="option1"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
    <div class="box-content">
      Guidelines for Domestic Travel by Ministry of Health & Family Wealth.
    </div>
  </div>

  <div class="box">
    <div class="box-img">
      <ng-lottie
        width="250px"
        height="162px"
        [options]="option2"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
    <div class="box-content">Information on Covid Vaccination Programme.</div>
  </div>
  <div class="box">
    <div class="box-img">
      <ng-lottie
        width="250px"
        height="162px"
        [options]="option3"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
    <div class="box-content">
      Passengers in possession of final vaccination certificate.
    </div>
  </div>
</div>
</div>
